.scrollWrapper {
  overflow: hidden;
  width: 100%;
}

.scrollContent {
  display: flex;
  gap: 2rem;
  animation: scroll 30s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
